/* 공통적으로 들어가는 스타일 */
:root{
    --main-color: #F86565;
}


html{
    font-size: 20px;
    /* 1rem = 20px */
    font-family: "Pretendard",sans-serif;
    scroll-behavior: smooth;
}

h1{
    font-size: 1.3rem;
    font-weight: 700;
}

h2{
    font-size: 1.2rem;
    font-weight: 600;
}

h3{
    font-size: 1rem;
    font-weight: 600;
}

p{
    line-height: 140%;
}

.detail{
    font-size: 0.9rem;
}

.button{
    font-size: 0.8rem;
}

strong{
    color: var(--main-color);
    font-weight: inherit;
}

.commonFrame{
    width: 1400px;
    margin: 0 auto;
    padding-top: 6rem!important ;
}

.barstyle{
    border-left: 0.3rem solid var(--main-color);
    padding-left: 1rem;
}

@keyframes swing {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-20deg);
    }
}


@keyframes shake {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-3deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes pump {
    0%{
        transform:rotate(0deg)scale(1);
    }

    /* 25%{
        transform:rotate(360deg)scale(3);
    }
    
    50%{
        transform:rotate(0deg)scale(0.7);
    } */

    100%{
        transform:rotate(-360deg)scale(1.3);
    }

    /* 100%{
        transform:rotate(0deg)scale(1);
    } */
}
